$white-color: #fff;
$black-color: #000;
$gray-color: rgb(45, 45, 45);
$gray-color-2: #ccc;
$cta-color: #45c1bc;
$green-color: #29f39a;
$succes-color: #90ee90;
$button-gap: 6px;
$main-bg-color: #0f1011;
$green-blue-gradient: linear-gradient(90deg, rgba(41, 242, 156, 1) 0%, rgba(28, 217, 185, 1) 60%, rgba(1, 159, 251, 1) 100%);
$base-time: .3s;

body {
    --header-height: 78px;
}