@import './--scss.scss';

header {
    height: var(--header-height);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    $transition-props: background-color,
    backdrop-filter,
    transform;
    transition: $transition-props $base-time $header-curve;
    z-index: 10;

    &.bg {
        background-color: $main-bg-color;
    }

    &.scroll-bottom {
        transform: translateY(-100%);
    }

    &.scroll-stop,
    &.scroll-top {
        transform: translateY(0);
    }

    >div {
        display: flex;
        gap: 40px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
            background-color: $cart-item-bg;
            border: 1px transparent;
            border-radius: 8px;
            color: $gray-color-2;
            font-family: 'GT Medium';
            font-size: .92em;
            height: 35px;
            outline: none;
            padding-left: 18px;
            transition: all .3s;
            width: 350px;
        }

        button {
            svg {
                // just hack before i find better solution
                transform: scale(.525);
                fill: $gray-color;
                transition: fill $base-time ease-in;
            }

            &:hover {
                svg {
                    fill: $white-color;
                }
            }
        }
    }
}