@import './reset.scss', './--scss.scss', './fonts.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: $white-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    height: var(--header-height);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    >div {
        display: flex;
        gap: 40px;
    }
}

.home-page,
.browse-page {
    padding-top: var(--header-height);
}

.icon {
    width: 36px;
    height: 36px;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: $button-gap;
    align-items: center;
    background-color: transparent;

    >h3,
    h4 {
        white-space: nowrap;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &.ghost-btn {

        transition: transform .3s ease-in;

        &:hover {
            transform: scale(1.03);
        }

        >h3 {
            font-family: 'GT Bold';
            color: $white-color;
        }
    }

    &.btn-cta {
        $transition-props: background-color,
        transform;
        background-color: $white-color;
        border-radius: 18px;
        gap: 10px;
        padding: 12px 28px;
        transition: $transition-props .3s ease-in;
        position: relative;

        &:hover {
            background-color: $cta-color;
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }

        >h4 {
            color: $black-color;
            font-family: 'GT Medium';
            font-size: 18px;
        }

        >.icon {
            height: 18px;
            width: 18px;
        }

        >a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.genre-btn {
        >h3 {
            color: $white-color;
            font-family: 'GT Regular';
            font-size: 22px;
            transition: letter-spacing $base-time cubic-bezier(0, -0.1, .99, -0.7);
            // TODO fix transition curve for letter
        }

        .genre-icon {
            width: 40px;
            display: grid;
            place-items: center;
            aspect-ratio: 1/1;
            background-color: $grey-color;
            border-radius: 8px;
            transition: background-color $base-time ease-in;

            >svg {
                height: 26px;
                width: 26px;
                transition: fill $base-time ease;
                fill: $white-color;
            }
        }

        &:hover {
            >h3 {
                letter-spacing: 5px;
            }

            .genre-icon {
                background-color: $white-color;

                >svg {
                    fill: $black-color;
                }
            }


        }
    }
}

.bg-video {
    background-attachment: fixed;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    z-index: -1;
}

.home-page {
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - var(--header-height));
        width: 50vw;

        &:first-of-type {
            margin-left: 60px;
            min-width: 650px;
        }
    }

    .main-title {
        padding: 50px 30px;

        >h1 {
            font-family: 'GT Bold';
            font-size: 90px;
            margin-bottom: 10px;
        }

        >p {
            font-family: 'GT Regular';
            font-size: 20px;

            >span {
                color: $cta-color;
                cursor: pointer;
                font-family: 'GT Medium';
            }
        }
    }

    .nav-list {
        padding: 20px 40px;
        align-self: flex-end;
        margin-right: 50px;

        >h2 {
            font-family: "GT Bold";
            font-size: 26px;
            margin-bottom: 14px;
            text-align: center;
        }

        >ul {
            display: flex;
            flex-direction: column;
            grid-gap: 8px;

            >* {
                min-width: 180px;
                justify-content: flex-start;
                grid-gap: 20px;
            }
        }
    }
}

.btns-row {
    margin-top: 20px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.blured-bg {
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 30px;

    &:after {
        border-radius: 30px;
        background-color: #fff;
        content: "";
        display: block;
        height: 100%;
        opacity: .285;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}

.browse-page {
    width: 100%;
    height: 100vh;
    background-color: $main-bg-color;
    display: grid;
    grid-template-columns: 1fr 3fr;

    .genres-col {
        padding: 20px 40px;

        >h3 {
            font-family: 'GT Medium';
            font-size: 30px;
            letter-spacing: 2px;
        }

        >ul {
            margin-top: 24px;

            >:not(:first-child) {
                margin-top: 12px;
            }


        }
    }
}

@media screen and (max-width:1024px) {
    .home-page {
        >div {
            width: 40vw;

            &:first-of-type {
                min-width: 460px;
            }
        }

        .btns-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 15px;

            >button {
                justify-content: center;
            }
        }
    }
}