@import './reset.scss', './--scss.scss', './fonts.scss', './header.scss', './pages.scss', './buttons.scss', './cart.scss', './animations.scss';

body {
    margin: 0;
    color: $white-color;
    background-color: $main-bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.block-scroll {
        overflow: hidden;
    }
}

.video-wrapper {
    background-attachment: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: $main-bg-color;

    .bg-video {
        opacity: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: opacity calc($base-time * 2) ease-out;

        &.mobile {
            display: none;
        }
    }

    &.loaded {
        .bg-video {
            opacity: 1;
        }
    }
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -20px;
    position: static;
}

.swiper-pagination-bullet {
    background: $gray-color-2;

    &.swiper-pagination-bullet-active {
        background: $white-color;
    }

    &:not(.swiper-pagination-bullet-active) {
        &:hover {
            opacity: 0.5;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: $white-color;
}


@import './media.scss';